// elements globaux (h1 h2 p ul a)
@use "../abstracts/variables" as variable;

* {
    box-sizing: border-box;
}

body {
   font-family: variable.$police-principale;
   margin: 0;
}

h1 {
    color: variable.$secondary-color;
    font-weight: 600;
    font-size: 1.5rem;
}

h2 {
    color: variable.$primary-color;
    font-weight: 600;
    font-size: 1.5rem;
}

h3 {
    color: variable.$secondary-color;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.5rem;
}

p {
    margin-bottom: 2rem;
    font-family: variable.$police-secondaire;
    font-weight: 500;
    font-size: 1rem;
}

.first-child {
    color: variable.$primary-color;
}

a{
    text-decoration: none;
    color: variable.$fourth-color;
    font-size: 0.8rem;
}

ul {
    list-style: none;
}


