// elements globaux (h1 h2 p ul a)

@use "../abstracts/variables" as typo;
@use "../abstracts/variables" as variable;

* {
    box-sizing: border-box;
}

h1 {
    color: variable.$secondary-color;
}

h3 {
    color: variable.$secondary-color;
    font-family: variable.$police-secondaire;
    text-transform: uppercase;
}
p {
    margin-bottom: 2rem;
    font-family: variable.$police-secondaire;
}

.first-child {
    color: variable.$primary-color;
}

a{
    text-decoration: none;
    color: variable.$fourth-color;
}

ul {
    list-style: none;
}

body {
   font-family: typo.$police-principale;
   margin: 0;
}

main {
   background-image: url(../../assets/img/wave.svg);
   background-position: bottom;
   background-repeat: no-repeat;
}