@use "../abstracts/variables" as typo;

body {
   font-family: typo.$police-principale;
}

main {
   background-image: url(../../assets/img/wave.svg);
   background-position: bottom;
   background-repeat: no-repeat;
}