// COLORS
$primary-color: #000;
$secondary-color: #FFFFFF;
$tertiary-color: #e7816b;
$fourth-color: #c0c0c0;

// FONT-FAMILY
$police-principale: "Lato";
$police-secondaire: "Lato Thin";

// BORDER BANNER
$radius-border: 10px;

// BORDER BUTTONS
$border-btn: 3px;
$border-color: #c0c0c0;

// COLOR HOVER
$primary-color-oppacity: #00000049;
