$primary-color: #000;
$secondary-color: #FFFFFF;
$tertiary-color: #e7816b;
$fourth-color: #c0c0c0;

$police-principale: "Lato";
$police-secondaire: "Lato Thin";

$radius-border: 10px;
$border-btn: 3px;
