@use "../abstracts/variables" as variable;
@use "../abstracts/mixins" as mixins;

.hero__wrapper {
        @include mixins.banner;
        width: 100%;
        overflow: hidden;
        p {
        color: variable.$secondary-color;

    }
    img {
        width: 50%;
        transform: translateY(20%);
    }
    .hero-content {
        padding: 2rem 0 5rem 2rem;
    }
}

.bloc__wrapper {
    @include mixins.banner;
    width: 100%;
    margin-bottom: -8rem;
    z-index: 1;
    position: relative;
    h3 {
        text-transform: none;
    }
    p {
        color: variable.$secondary-color;
    }
    .bloc-content {
        width: 50%;
        padding: 2rem 0 5rem 2rem;
    }
    a {
        align-self: center;
    }
}

