@use "../abstracts/variables" as variable;

.service {
    width: 100%;
    background-size: cover;
    background-position-y: center;
    border-radius: variable.$radius-border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: auto;
}

.features__wrapper {
    width: 100%;
    margin-top: 4rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.features {
    text-align: end;
}