@use "../abstracts/variables" as variable;

footer {
    background-color: variable.$primary-color;
    margin-right: auto;
    width: 100%;
    padding-top: 8rem;
    z-index: -1;
    .footer__wrapper {
        margin-top: 2rem;
        .logo {
            width: 100%;
            display: flex;
            justify-content: space-between;
            img {
            width: 15%;
            object-fit: contain;
            }
            .nav-links {
            display: flex;
            gap: 1rem;
            }
        }
        p {
            color: variable.$secondary-color;
        }
    }
}

.border {
    margin-top: 6rem;
    border: 1px solid variable.$border-color;
}

.contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0.3rem;
    }
}
