@use "../abstracts/variables" as variable;

.header__wrapper {
    display: flex;
    justify-content: space-between;
    img {
        width: 10%;
        object-fit: contain;
    }
    .nav-links {
        display: flex;
        gap: 1rem;
    }
}

.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: variable.$secondary-color;
}