* {
  box-sizing: border-box;
}

h1 {
  color: #FFFFFF;
}

h3 {
  color: #FFFFFF;
  font-family: "Lato Thin";
  text-transform: uppercase;
}

p {
  margin-bottom: 2rem;
  font-family: "Lato Thin";
}

.first-child {
  color: #000;
}

a {
  text-decoration: none;
  color: #c0c0c0;
}

ul {
  list-style: none;
}

body {
  font-family: "Lato";
  margin: 0;
}

main {
  background-image: url(../../assets/img/wave.svg);
  background-position: bottom;
  background-repeat: no-repeat;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: "Lato Thin";
  src: url(../fonts/Lato/Lato-Thin.ttf);
}
.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.hero__wrapper {
  background-color: #e7816b;
  border-radius: 10px;
  width: 100%;
  display: flex;
  gap: 15rem;
  width: 100%;
  overflow: hidden;
}
.hero__wrapper p {
  color: #FFFFFF;
}
.hero__wrapper img {
  width: 50%;
  transform: translateY(20%);
}
.hero__wrapper .hero-content {
  padding: 2rem 0 5rem 2rem;
}

.bloc__wrapper {
  background-color: #e7816b;
  border-radius: 10px;
  width: 100%;
  display: flex;
  gap: 15rem;
  width: 100%;
  position: relative;
  z-index: 1;
}
.bloc__wrapper p {
  color: #FFFFFF;
}
.bloc__wrapper .bloc-content {
  width: 50%;
  padding: 2rem 0 5rem 2rem;
}
.bloc__wrapper a {
  align-self: center;
}

.btn-primary {
  padding: 10px 20px;
  background-color: #FFFFFF;
  color: #000;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px #000;
}

.service {
  width: 100%;
  background-size: cover;
  background-position-y: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow: auto;
}

.features__wrapper {
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 6rem;
  display: flex;
  gap: 12rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.features {
  text-align: end;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.service-content {
  position: relative;
  z-index: 1;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header__wrapper img {
  width: 10%;
  object-fit: contain;
}
.header__wrapper .nav-links {
  display: flex;
  gap: 1rem;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: #FFFFFF;
}

footer {
  background-color: #000;
  margin-right: auto;
  position: absolute;
  width: 100%;
  transform: translateY(-8.5rem);
  z-index: 0;
}
footer .footer__wrapper {
  margin-top: 10rem;
}
footer .footer__wrapper .logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
footer .footer__wrapper .logo img {
  width: 15%;
  object-fit: contain;
}
footer .footer__wrapper .logo .nav-links {
  display: flex;
  gap: 1rem;
}
footer .footer__wrapper p {
  color: #FFFFFF;
}

.border {
  margin-top: 6rem;
  border: 1px solid #c0c0c0;
}

.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts p {
  margin: 0.3rem;
}

.allservices {
  width: 100%;
  display: flex;
  gap: 0.5rem;
  padding: 0;
}
.allservices .first-service {
  width: 50%;
  height: 50vh;
  background-image: url(../../assets/img/homme-assis-batiment.jpg);
}
.allservices .services-small {
  width: 50%;
  flex-direction: column;
  gap: 0.5rem;
}
.allservices .services-small .second-service {
  background-image: url(../../assets/img/passport.jpg);
  height: 50%;
}
.allservices .services-small .third-service {
  background-image: url(../../assets/img/montgolfiere.jpg);
  height: 50%;
}

@media screen and (max-width: 768px) {
  .header__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .header__wrapper img {
    width: 50%;
  }
  .header__wrapper .hamburger {
    display: block;
    color: #000;
  }
  .header__wrapper .nav-links a {
    color: #FFFFFF;
  }
  .hero__wrapper {
    display: block;
  }
  .hero__wrapper img {
    display: none;
  }
  .hero__wrapper .hero-content {
    padding: 2rem;
  }
  .allservices {
    flex-direction: column;
    height: 100vh;
  }
  .allservices .first-service {
    width: 100%;
    height: 50%;
  }
  .allservices .services-small {
    width: 100%;
    height: 100%;
  }
  .features {
    text-align: center;
  }
  .features__wrapper {
    flex-direction: column;
    gap: 4rem;
    padding: 2rem;
    margin-bottom: 0;
  }
  .bloc__wrapper {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0;
    position: relative;
  }
  .bloc__wrapper a {
    position: absolute;
    transform: translateY(8rem);
  }
  .bloc__wrapper .bloc-content {
    padding: 2rem 2rem 5rem 2rem;
  }
  footer .footer__wrapper {
    width: 100%;
  }
  footer .footer__wrapper .logo {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  footer .footer__wrapper .logo img {
    width: 50%;
  }
  footer .footer__wrapper .logo .nav-links {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
  footer .border {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  footer .contacts {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
  footer .contacts p {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
