@use "../abstracts/variables" as variable;


.service {
    width: 100%;
    background-position-y: center;
    background-size: cover;
    border-radius: variable.$radius-border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: auto;
}

.features-title {
    text-align: end;
}

.feature {
    width: 20%;
}

.background {
    background-image: url(../../assets/img/wave.svg);
    background-repeat: no-repeat;
    background-position: 0 80%;
}