@use "../abstracts/variables" as variable;

.hero__wrapper {
    position: relative;
    p {
    color: variable.$secondary-color;
}
    img {
    width: 50%;
    transform: translateY(18%);
}
    .hero-content {
    padding: 3rem 3rem 2rem 2rem; 
}
}

.allservices {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    padding: 0;

    .first-service {
        width: 50%;
        padding: 8rem 0;
        background-image: url(../../assets/img/homme-assis-batiment.jpg);
    }
    .services-small {
        width: 50%;
        flex-direction: column;
        gap: 0.5rem;

        .second-service {
            background-image: url(../../assets/img/passport.jpg);
            padding: 4rem 0;
        }
        .third-service {
            background-image: url(../../assets/img/montgolfiere.jpg);
            padding: 4rem 0;
        }
    }
}


